body {
    position: relative;
    background: url(back.jpg);
}
.bigBlock {
    width: 1200px;
    height: 600px;
    font-size: 220px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
.smalBlock {
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 100px #ffffff;
}

